.league{
    
    border-radius: 5px;
    padding:5%;
    margin: 15px;
    text-align: center;
    background-color:white;

}
.league>img{
    width: 70%;
}
.league button{
    width: 150px;
    height: 35px;
    background-color: blue;
    color: white;
    border:none;
    border-radius: 3px;
}