.leagueDetail{
    display: grid ;
    grid-template-columns: 1.5fr 1fr;
    
    padding:10px 20px;
    border-radius: 20px;
    background-color: blue;
    color:white;
}
.black{
    background-color: black;
}
.container{
    margin:2% 5%;
    color:white;
}
@media only screen and (max-width: 992px) {
    .leagueDetail{
        grid-template-columns: 1fr;
    }
  }